.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 110px);
}

.account_container {
  max-width: 1200px;
  margin: 0 auto;
}

.home_items_wrapper {
  padding: 80px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70vh;
}

.home_item {
  padding: 50px;
  margin: 20px;
  border: 1px solid #000;
  border-radius: 10px;
  background-color: #add;
}

.privacy_policy_content_wrapper {
  padding: 50px 0;
}

.privacy_policy_content_wrapper p {
  margin-bottom: 20px;
}
