.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 20px;
  color: #f2f2ff;
  background-color: #f5a;
  font-size: 15px;
}

.footer_container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
}

.footer_brand_wrapper {
}
