.header {
  max-width: 2000px;
  margin: 0 auto;
  padding: 10px 10px 5px;
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_nav_wrapper ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_nav_wrapper ul li {
  margin: 0 10px;
}

.header_brand_wrapper {
  padding: 0 20px;
  display: inline-block;
}

.header_logo {
  font-size: 3rem;
}
