.mega_list_container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.big_list_wrapper {
  padding: 10px 20px;
  /* width: 100%; */
  max-width: 800px;
  min-width: 360px;
  border: 1px solid #222;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #bdf, #ccddff);
}

.list_item_wrapper {
  margin-bottom: 50px;
}

.list_item_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: auto;
}

.list_item_header_icon {
  position: relative;
  top: -25px;
  left: 5px;
}

.list_item_wrapper h2 {
  font-size: 4rem;
}

.list_item_status_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list_item_status {
  font-size: 1.8rem;
}

.left_side_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.left_side_wrapper h2 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

.note_to_self_wrapper {
  margin-bottom: 15px;
  padding: 20px 15px;
  width: 100%;
  max-width: 360px;
  border: 1px solid #000;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #bdf, #ccddff);
}

.note_to_self_content {
  font-size: 1.6rem;
}

.project_list_wrapper {
  padding: 20px 15px;
  width: 100%;
  max-width: 360px;
  border: 1px solid #000;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #bdf, #ccddff);
}

.project_list_wrapper h2 {
  font-size: 2.2rem;
  margin-bottom: 20px;
}

.project_list_item_wrapper {
  margin-bottom: 10px;
}

.mini_list_wrapper {
  padding: 40px 25px;
  width: 100%;
  max-width: 360px;
  border: 1px solid #000;
  border-radius: 10px;
  background-image: linear-gradient(to right bottom, #bdf, #ccddff);
}

.mini_list_item_wrapper {
  margin-bottom: 10px;
}
