.mega_list_container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.big_list_wrapper {
  padding: 0 20px 10px;
}

.list_item_wrapper {
  margin-bottom: 50px;
}

.list_item_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list_item_header_icon {
  position: relative;
  top: -25px;
  left: 5px;
}

.list_item_wrapper h2 {
  font-size: 5rem;
}

.list_item_status_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list_item_status {
  font-size: 1.8rem;
}
