.mega_list_container {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.big_list_wrapper {
  padding: 40px;
}

.list_item_wrapper {
  margin-top: 50px;
}

.list_item_wrapper h2 {
  font-size: 5rem;
}
